<launch>

    <node pkg="gvom" type="gvom_ros.py" name="gvom_ros" output="screen">

        <remap from="~cloud" to="/warty/lidar_points" />
        <remap from="~odom" to="/warty/odom" />

        <param name="~odom_frame" value="warty/odom" />
        <param name="~xy_resolution" value="0.40" />
        <param name="~z_resolution" value="0.2" />
        <param name="~width" value="256" />
        <param name="~height" value="64" />
        <param name="~buffer_size" value="4" />
        <param name="~min_point_distance" value="1.0" />
        <param name="~positive_obstacle_threshold" value="0.50" />
        <param name="~negative_obstacle_threshold" value="0.5" />
        <param name="~density_threshold" value="50" />
        <param name="~slope_obsacle_threshold" value="0.3" />
        <param name="~min_roughness" value="10" />
        <param name="~max_roughness" value="0" />
        <param name="~robot_height" value="2.0" />
        <param name="~robot_radius" value="4.0" />
        <param name="~ground_to_lidar_height" value="1.0" />
        <param name="~freq" value="10." />

    </node>

</launch>
